.jumbotron {
    background-image: url(../images/vegetables-italian-pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    height: 400px;
}

.jumbotron h1 {
    width: 100%;
    font-size: 4em;
    opacity: 1;
    padding: 5px;
    margin-bottom: 2em;
}

#jumbo-h1 {
    background-color: rgba(217, 131, 31, 0.8);
}

.jumbotron p a{
    margin: 1em;
}

.jumbotron p a:hover{
    opacity: 0.8;
}

.gallery{
    padding-bottom: 50px;
}

.gallery img{
    height: 350px;
    
}

footer {
    padding-top: 5px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}


/*****************************
        ENTER-INFO PAGE
******************************/

#info-form{
/*    width: 800px;*/
    margin: 0 auto;
}




